*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
}

@media (max-width: 412px) {
    body {
        overflow-x: hidden;
    }
  }


/* IMAGEN DE LA CABECERA HEDER*/
.contenedor-heder{
    width: 100%;
	height: 100vh;
    background-image: url(../img/martillo-min.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

/*TEXTO DE LA CABECERA*/
.contenedor-heder .texto {
    width: calc(100vw - 20px);
    height: 100vh;
    font-size: 90px;
    font-weight: 500;
    font-family: 'Bebas Neue';
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    
    
}

/*MENU Y ENLACES DE NVAR*/
.menu{   
    background-color: rgb(14, 24, 70);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    font-family: 'Bebas Neue';
    font-style: italic;
}

.menu a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 30px;
    background-color: rgb(14, 24, 70);
    margin: 0 10px;
    transition: .5s ease all;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

hr{
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    padding: 1px;
    margin-bottom: 70px;

}



.menu a:hover{
    transform: translateY(18px);
    background-color: rgb(14, 24, 70);
}


/*NOSOTROS QUIENES SOMOS TITULOS Y SUBTITULO*/
.nosotros{
    margin-bottom:  60px;
}

.subtitulo{
    font-size: 20px;
    color: black;
    font-family: 'Roboto';
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}

.subtitulo span{
    background-color: rgb(255, 159, 124);
    padding: 0 15px;
    z-index: 99;
    position: relative;
    border-radius: 100px;
}

.subtitulo::after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: rgb(255, 159, 124);
    position: relative;
    top: -29px;
    z-index: 1;
}
.titulo{
    width: 65%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline;
    margin-bottom: 50px;
    font-family: "Readex Pro";
}

.nosotros .titulo{
    width: 70%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

.nosotros .enlace{
    display: inline-block;
    margin-top: 40px;
    color: crimson;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: .3s ease all;
}

.nosotros .enlace:hover{
   text-decoration: none;
   letter-spacing: 3px;
   border-bottom:  1px solid rgb(253, 28, 73);
}



/*PRODUCTOS*/

.productos{
    background-color: rgb(233, 229, 229) ;
    padding: 20px;
    margin-bottom: 60px;
    
}
.productos img{
    transition: .3s ease all;
}

.productos img:hover{
    transform: scale(1.2);
}

.productos .btn-productos{
    background-color: #ffb3b3;
    color: black;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid transparent;
    transition: .3s ease;
    
}
.productos .btn-productos:hover{
    text-decoration: none;
    letter-spacing: 3px;
    border-bottom:  1px solid rgb(253, 28, 73);
}

/*SEPARADOR*/
.separador{
    width: 100%;
    height: 250px;
    background-image: url(../img/abogacia-min.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.separador p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: "Bebas Neue";
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 100px;
}
/*ACERCA DE*/

.acerca-de{
    margin-bottom: 60px;
    font-family:'Readex Pro' ;

}

.acerca-de img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}



/*GALERIA*/
.galeria{
    margin-bottom: 60px;
}
.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*CONTACTO*/

.contacto{
    margin-bottom: 60px;

}

.contacto img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}


/*REDES*/
.redes{
    padding: 18px;
    background-color: rgb(14, 24, 70);
    color: white;
    font-family: 'Bebas Neue';
}
.redes a {
    color: white;
}

.redes img{
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition:  .3s ease all;

}

.redes img:hover{
    transform: scale(1.2);
}


.titulo-cursos{

    font-size: xx-large;
    font-family: 'Bebas Neue';
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;

}
